.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    


   
}
#lg{
    position: absolute;
    top: 150px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
button{
    width: 240px;
}
.error{
    color: red;
}
